@page
@model BDTransportCompany.Pages.Zf.Zaprosi.Perevozimiegruzi
@{
    <h1>Перевозимые грузы</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cargos[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cargos[0].TypesOfCargos_ID)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cargos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @{
                            try
                            {
                                @Model.TypesOfCargos.First(r => r.ID == item.TypesOfCargosID).Title
                            }
                            catch
                            {
                                <p> Данных нет </p>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
